.booking-container {
    padding: 0px 200px;
}

.booking-title,
.gallery-main-title {
    color: #f2af29;
    text-align: center;
}

.booking-rules-title {
    font-weight: 700;
    font-size: 18px;
}

.service-title {
    color: #c98b10;
    font-weight: 700;
    font-size: 18px;
}

.booking-services {
    color: #f2af29;
}

.booking-input-space {
    width: 250px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


@media screen and (max-width: 440px) {
    .booking-container {
        padding: 0px 10px;
    }
}