@import url('about-us.css');
@import url('booking.css');
@import url('gallery.css');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.semibold-text {
    font-weight: 600;
}

.bold-text {
    font-weight: 700;
}

.main-body-index {
    background-image: url(../img/Head/head_pic.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
}

.nav-links-a {
    color: #e0e0e0;
    text-decoration: none;
    text-align: center;
    margin-left: 100px;

    transition: color 0.3s linear;
}

.hero-title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 120px;
    margin-left: 527px;
}

.hero-subtitle{
    font-size: 20px;
    font-weight: 400;
    margin-left: 640px;
    color: #f2af29;
}

.hero-link{
    color: #e0e0e0;
    text-decoration: none;
    margin-left: 727px;
    
    transition: color 0.15s linear;
}

.hero-link:hover {
    color: #f2af29;
}

.input-space {
    width: 150px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}

.search-button {
    background-color: #f2af29; 
    color: white; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 

    transition: 0.15s linear;
}

.search-button:hover{
    background-color: #c0850e;
}

.content{
    background-color: #000;
    color: #e0e0e0;
    padding-top: 200px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/main/content-img.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -75px;
}

.content-title{
    color:#f2af29;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
}

.content-info{
    text-align: center;
    font-weight: 400;
}

.form-container {
    text-align: right;  
}

.main-body-ab-us, .main-body-gallery, .main-body-booking{
    background-color: #000000;
    color: #e0e0e0;
}

.nav-logo {
    text-align: left;
}

.nav-links-a:hover{
    color: #f2af29;
}

.nav-search {
    text-align: right;
}

.links{
    color: #e0e0e0;
    text-decoration: none;

    transition: color 0.15s linear;
}

.links:hover{
    color: #c88a0f;
}

.footer-all{
    background-color:#000;
    color: #e0e0e0;
    padding: 20px;
    display: flex;
}

.footer-right {
    margin-left: 250px;
}

.footer-left{
    display: flex;
    margin-left: 180px;
}

.footer-title{
    color: #f2af29;
}

.footer-col{
    margin-right: 155px;
    margin-left: -42px;
    cursor: pointer;
    transition: color 0.25s linear;
}

.footer-col:hover{
    color: #9e9e9e;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #f2af29;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c98b10;
}

input[type="email"]:valid {
    border-color: green;
}

input[type="email"]:invalid {
    border-color: red;
}

@media screen and (max-width: 440px) {
    .main-header{
        display: flex;
    }

    .nav-logo {
        margin-left: 15px;
        margin-top: 12px;
    }

    .nav-links-a{
   display: flex;
    }

    .nav-search {
        display: none;
    }

    #hero{
       margin: 300px -455px;
    }

    .hero-title {
        font-size: 20px;
    }

    .hero-subtitle {
        margin-left: 540px;
    }

    .hero-link {
        margin-left: 620px;
    }

    #highlight{
        margin-top: 350px;
    }

    .content{
        padding-top: 20px;
    }

    .footer-all {
        margin: -25px -250px 0px -250px;
        display: flex;
        flex-direction: column;
    }
    
    .footer-left {
        display: flex;
        flex-direction: column;
        padding-left: 75px;
    }
}

